<link rel="stylesheet" href="/css/home.css">
<h1>
   <%= title %>
</h1>
<section id="feed-posts">
    <!-- <h4>
        Posts
    </h4> -->
    <% if(locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <div class="two">
        <label for="content">Posts</label>
        <textarea name="content" cols="30" rows="3"  placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post">
       </div>
       
    </form>
    <% } %>
    <div id="posts-list-container">
        <ul class="outer-ul">
            <% for(post of posts){%>
                <div class="post-list-inner-container">
                    <p>
                        <small class="post-user">
                            <%= post.user.name %>
                        </small>
                        <hr>
                        <div class="post-details">
                        <div class="post-content">
                            <%= post.content %>
                        </div>
                        <% if(locals.user && locals.user.id==post.user.id) {%>
                            <small>
                                <a href="/posts/destroy/<%=post.id%>">X</a>
                            </small>
                        <%}%>
                    </div>
                    </p>
                    <hr>
                    <div class="post-comments">
                        <div class="post-comments-list">
                            <ul id="post-comments-<%= post._id %>">
                                <% for(comment of post.comments){%>
                                    <div class="comment-details">  
                                        <div class="samll">
                                            <%= comment.user.name %> 💭
                                        </div>
                                        <!-- <br> -->
                                        <!-- <p> -->
                                        <div class="comment-data"> 
                                            <%= comment.content %>
                                            
                                        </div>
                                        <% if(locals.user && locals.user.id==comment.user.id) {%>
                                            <small>
                                                <a href="/comments/destroy/<%=comment.id%>">X</a>
                                            </small>
                                        <%}%>
                                        
                                        <!-- </p> -->
                                     
                                </div>
                                <%}%>
                            </ul>
                        </div>
                        <hr>
                        <!-- <div class="post-class"> -->
                            <%if(locals.user){%>
                                <form action="/comments/create" class="post-class" method="POST">
                                    <input class="child1" type="text" name="content" placeholder="Type Here....." required>
                                    <input class="child2" type="hidden" name="post" value="<%= post._id%>">
                                    <input class="child3" type="submit" value="Add Comment">
                                </form>
                            <%}%>
                        <!-- </div> -->
                    </div>
                </div>
            <%}%>
        </ul>
    </div>
</section>
